<!DOCTYPE html>
<html>
	<div th:replace="fragments/general.html :: head"></div>
	<div th:replace="fragments/general.html :: header"></div>
	
	<h1>
	    Log in
	</h1>
	<form action="/login_to_index" method="post">
	    <input type="text" id="username" name="username" placeholder="e-mail" >
	    <input type="text" id="password" name="password" placeholder="wachtwoord">
	    <input type="submit" value="Log in">
	</form>
	<a href="/register_type">Nog geen account, registreer!</a>
	
	<div th:replace="fragments/general.html :: footer"></div>
</html>